<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="template::stylesheet">

    </div>


</head>

<body class="skin-blue">


<div class="wrapper">


    <div th:replace="template::topmenu">

    </div>

    <div th:replace="template::main-sidebar">

    </div>
    <div class="content-wrapper">

        <!-- Main content -->
        <section style="margin-top: -15px; margin-left: 23px;padding: 23px; margin-right: 11px;"id="main">

            <h3>Upload a component<br/>
                <small></small>
            </h3>


            <div style="background-color:#fff;padding: 39px;" class="wrapper">


                <form th:action="@{/component/create}"  th:object="${component}" method="POST">
                    <div class="form-group">
                        <label>Component Name</label>
                        <input id="name" th:field="*{name}" name="name" class="form-control"/>
                        <input th:if="${id}" type="hidden" id="id" th:field="*{id}" name="id" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="Catageory">Component Catageory</label>
                        <select name="catageory" th:field="*{catageory}" class="form-control" id="catageory">
                            <option th:value="Monitoring">Monitoring</option>
                            <option th:value="Enforcement">Enforcement</option>
                            <option th:value="MonitoringEnforcement">Monitoring & Enforcement</option>
                        </select>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <label class="custom-control-label" for="status">Component Enable</label>
                        </br>
                        <input type="checkbox" name="status" th:field="*{status}" class="custom-control-input" id="status" checked>


                    </div>
                    </br>
                    <div class="form-group">
                        <label for="description">Components Description</label>
                        <textarea class="form-control" th:field="*{description}" name="description" id="description" rows="3"></textarea>
                    </div>







                    <button type="submit" th:value="Submit" class="btn btn-primary">Submit</button>
                </form>







            </div>

        </section>

    </div>

</div>
</div>
</div><!-- /.box -->


</div>

<div th:replace="template::footer">
</div>


<div th:replace="template::script">

</div>

</body>

</html>