<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.css" />
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/scripts/vendor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div th:replace="template::stylesheet"></div>
    <script>
    $(document).ready(function () {
    $("#alchemy").hide();
        $("#template").hide();
    $(".ainstance").click(function () {
            $("#instance").show();
            $("#template").hide();
            $(this).addClass('active')
            $('.atemplate').removeClass('active');
            $("#topo").html("");
        });

        $(".atemplate").click(function () {
            $("#instance").hide();
            $("#template").show();
            $("#alchemy").hide();
            $(this).addClass('active')
            $('.ainstance').removeClass('active');
            $("#topo").html("");
        });

        $("#deploy").click(function () {
        	var data='2f529fa3-62e2-47f0-8dfb-6cc2d0388908';
            $("#instance").show();
            $("#template").hide();
            $('.ainstance').addClass('active')
            $('.atemplate').removeClass('active');
            $("#nsdid").html(data);

    		$.ajax({
				contentType: "application/json",
				crossDomain: true,
				type : "GET",
				url : "/orch/deploy/" + data,
				data : data,
				success : function(response) {
					showalert("Deploying 'HeartRateMonitoring' application ...","alert-warning");

				},
				error : function(response) {
					showalert("Error!!!","alert-warning");
				}
			});

        });

	    $("#showtopo").click(function(){


	    	//var divContent = $('#topo').text();
	    	//alert(divContent);
	    	$("#topo").html("");
	    	newFrame = document.createElement("iframe");
	    	newFrame.setAttribute("src", "out.html");
	    	newFrame.setAttribute("width", "800");
	    	newFrame.setAttribute("height", "400");
	    	newFrame.setAttribute("frameborder", "0");
	    	newFrame.setAttribute("scrolling", "no");
	    	//$('#topo').append("<br>");
	    	$('#topo').append(newFrame);
	    	showalert("...","alert-info");
	    });

		var socket = new SockJS('/demo');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
			console.log('Connected: ' + frame);
			stompClient.subscribe('/data/notification', function(alarm) {
				showalert(alarm.body,"alert-info");
			});
		});

    });


	function showalert(message,alerttype) {
	    $('#noti').append('<div id="alertdiv" class="alert ' +  alerttype + '"><span>' + getTimeStamp() + ': ' + message + '</span></div>')
	    setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 10 secs
	      $("#alertdiv").remove();
	    }, 10000);
	  }

	function getTimeStamp() {
	    var now = new Date();
	    return ( '<strong>' + now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + (now.getDate()) + " " +
		     now.getHours() + ':' +
		     ((now.getMinutes() < 10)
			 ? ("0" + now.getMinutes())
			 : (now.getMinutes())) + ':' +
		     ((now.getSeconds() < 10)
			 ? ("0" + now.getSeconds())
			 : (now.getSeconds())) + '</strong>');
	}

</script>
    <script type="text/javascript">
    $(document).ready(function() {
    $('#btnAdd').click(function() {
    var Components=$('#Componnets option:selected').val()
      var status = $('#status option:selected').val();
            var Protocol = $('#Protocol option:selected').val();
            var port= $('#port').val();
     $('#tbl').append("<tr><td>"+Components+"</td><td>"+status+"</td><td>"+Protocol+"</td><td>"+port+"</td></tr>");

    });
});
</script>
    <script>
        /* Latest compiled and minified JavaScript included as External Resource */

$(document).ready(function () {
    $('.editBtn').click(function () {
        if ($('.editField').is('[readonly]')) { //checks if it is already on readonly mode
            $('.editField').prop('readonly', false);//turns the readonly off
            $('.editBtn').html('Edit On'); //Changes the text of the button
            $('.editBtn').css("background", "green"); //changes the background of the button
            $('.editBtn').css("border", "green"); //changes the border of the button
        } else { //else we do other things
            $('.editField').prop('readonly', true);
            $('.editBtn').html('Edit Off');
            $('.editBtn').css("background", "red");
        }
    });

});
    </script>
    <style>
        /* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */
 @import url('//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css');
 body {
    margin: 10px;
}
.btn-danger {
    background:red;
}
.editField {
    margin-top:10px;
}
    </style>
</head>
<body class="skin-blue">
<div class="wrapper">
    <div th:replace="template::topmenu"></div>
    <div th:replace="template::main-sidebar"></div>
    <div class="content-wrapper">
        <section  style="margin-top: -15px; margin-left: 23px; margin-right: 11px;" id="main">
            </br>

            <h3><a href="/components">&larr;</a> Components<br/>
                <small>Components details</small>
            </h3>
            <a href="/editcomponent" class="create"><span class="oi oi-plus"></span> Upload</a>

            <div style="background-color:#fff;padding: 39px;" class="wrapper">


                <ul class="card" th:each="component : ${componentdetaillist}">
                    <li class="component">
                        <div class="icon"><span class="oi oi-target"></span></div>


                        <div class='row text-center'>
                            <a class="btn btn-danger editBtn">Edit Off</a>
                        </div>
                       <!-- <form role="form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control editField" th:text="${component.getCNName()}" readonly>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>-->
                        <div class="title"><a><span th:text="${component.getCNName()}"></span></a>
                            <span class="version" th:text="${component.getVersion()}">2.2</span>
                            <span class="flavor" th:text="${false == component.isNative()} ? 'WRAPPED' : 'NATIVE'">WRAPPED/NATIVE</span></div>
                        <!--<div class="author" th:text="${component.getUserName()}"></div>-->
                        <hr/>
                        <div class="meta">ID: <span th:text="${component.getCNID()}"></span></div>
                        <div class="desc" th:text="${component.getDescription()}"></div>
                 <!--       <ul class="label"><li class="value" th:each="keyword : ${component.getComponent().getDescriptiveCNMetadata().getTags().getTag()}" th:text="${keyword}"></li></ul>-->
                    </li>
                </ul>
            </br>
                <ul class="card">
                    <li class="component policy details">
                        <div class="section">Required Chainable Endpoints</div>

                        <span>
                        <ul class="label">
                            <li class="attr">N/A</li>
                        </ul>
                    </span>
                    </li>
                </ul>
                </br>
                <ul class="card">
                    <li class="component policy details">
                        <div class="section">Exposed Chainable Endpoints</div>

                        <span>
                        <ul class="label">
                            <li class="attr">N/A</li>
                        </ul>
                    </span>

                        <span>
                        <span class="attr-desc">Endpoints</span>

                        <ul class="label">
                            <span class="attr">Pingtcp</span>
                             <ul class="label">
                                 <li class="value">ID: 3d562851-958b-420a-bfeb-a30b2e29e619</li>
                                 <li class="value">Port: 8080</li>
                                 <li class="value">Protocol: HTTP</li>
                             </ul>

                        </ul>
                    </span>

                    </li>
                </ul>
                </br>
                <ul class="card">
                    <li class="component policy details">
                        <div class="section">Beharioral Parameter</div>

                        <span>
                        <ul class="label">
                            <li class="attr">N/A</li>
                        </ul>
                    </span>

                        <span>
                        <span class="attr-desc">Scaling options</span>

                        <ul class="label" th:each="profile : ${BehavioralProfile}">
                            <span class="attr" th:text="${profile.getScalability()}"></span><br/>
                        </ul>
                    </span>

                    </li>
                </ul>

                </br>
                <ul class="card">
                    <li class="component policy details">
                        <div class="section">Execution Requirements</div>

                        <span>
                        <ul class="label">
                            <li class="key">N/A</li>
                        </ul>
                    </span>

                        <span>
                        <span class="attr-desc">Minimum requirements</span>
                        <ul class="label" th:each="execution : ${ExecutionRequirements}">
                            <span class="attr">VCPU</span><span class="type" th:text="${execution.getVCPU()}"></span><br/>
                            <span class="attr">Memory</span><span class="type" th:text="${execution.getMemory()} + ' MB'"></span><br/>
                            <span class="attr">Storage</span><span class="type" th:text="${execution.getStorage()} + ' GB'"></span>
                        </ul>
                    </span>

                    </li>
                </ul>
                <ul class="card">
                    <li class="component configure">
                        <div class="section">Configuration Parameters</div>
                        <span>
                        <ul class="label">
                            <li class="attr">N/A</li>
                        </ul>
                    </span>

                        <br>

                        <ul class="label" th:each="conf : ${Configuration}">
                            <span class="attr-desc" th:text="${conf.getConfigurationParamaterDescription()}"></span>

                            <span class="attr" th:text="${conf.getConfigurationParameterName()}"></span>
                            <span class="type" th:text="${conf.getConfigurationParameterDefaultValue()}"></span>
                            <span class="type" th:text="'(Type: ' + ${conf.getConfigurationParameterType()} + ')'"></span>
                            <span class="type" th:text="${conf.isMutableAfterStartup()} ? '[mutable]' : '[immutable]'"></span><br/>

                        </ul>
                    </span>
                    </li>

                    <li class="component configure">
                        <div class="section">Metrics</div>
                        <span>
                        <ul class="label">
                            <li class="attr">N/A</li>
                        </ul>
                    </span>

                        <span>

                        <ul class="label" th:each="metric : ${CNMetrics}">
                            <span class="attr-desc" th:text="${metric.getMetricDescription()}"></span>

                            <span class="attr" th:text="${metric.getMetricName()}"></span>
                            <span class="type" th:text="'(Type: ' + ${metric.getMetricValueType()} + ', Unit: ' + ${metric.getUnitOfMeasurement()} + ')'"></span>
                            <span class="type" th:text="'(Min-Max: ' + ${metric.getMinValue()} + '-' + ${metric.getMaxValue()} + ')'"></span>
                            <span class="type" th:text="'[Higher is Better: ' + ${metric.isHigherIsBetter()} + ']'"></span><br/>
                        </ul>
                    </span>
                    </li>

                </ul>

            </div>
        </section>
    </div>
    <div th:replace="template::footer"></div>
</div>

<script>
function myFunction() {

    var x = document.getElementById("alchemy");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
<div th:replace="template::script"></div>
</body>
</html>