<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="template::stylesheet">

    </div>


</head>

<body class="skin-blue">


<div class="wrapper">


    <div th:replace="template::topmenu">

    </div>

    <div th:replace="template::main-sidebar">

    </div>
    <div class="content-wrapper">

        <!-- Main content -->
        <section style="margin-top: -15px; margin-left: 23px; margin-right: 11px;"id="main">
            <br>
            <a href="/addnewpolicy" class="create"><span class="oi oi-plus"></span> Create New</a>
            <h3>Security Policies<br/>
                <small>Event-Condition-Action Policies</small>
            </h3>

            <div style="background: none;" class="wrapper" >

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-md-1 text-center">ID</th>
                        <th class="col-md-2">App</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-4">Updated</th>
                        <th class="col-md-5">Creator</th>
                        <th class="col-md-6">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr th:each="servicegraphpolicy : ${servicegraphpolicies}" th:classappend="${!servicegraphpolicy.getIsShareable()} ? 'active'">-->
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>

                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center"><span>100</span></td>
                        <td><span>HeartRateMonitoring</span></td>
                        <td><span>Deny user access when roaming</span></td>
                        <td><span>2018-08-20 10:23:34 CEST</span></td>
                        <td><span>admin</span></td>
                        <td>
                            <!-- edit -->
                            <span  class="glyphicon glyphicon-pencil"></span>
                            <!-- delete -->
                            <span class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>



                    </tbody>
                </table>

            </div>


        </section>

    </div>




<div th:replace="template::footer">
</div>


<div th:replace="template::script">

</div>
</div>
</body>

</html>
